<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>New User Registration</title>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="js/util.js"></script>
    <script src="../js/register.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
<form class="form-horizontal">
    <legend style="margin-left: 100px;">New User
        Registration</legend>
    <div class="control-group">
        <label class="control-label" for="firstname">First Name</label>
        <div class="controls">
            <input type="text" id="firstname" placeholder="First Name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="lastname">Last Name</label>
        <div class="controls">
            <input type="text" id="lastname" placeholder="Last Name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="player_id">Player ID</label>
        <div class="controls">
            <input type="text" id="player_id" placeholder="User Name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" id="password" placeholder="Password">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="confirmpassword">Confirm
            Password</label>
        <div class="controls">
            <input type="password" id="confirmpassword"
                   placeholder="Confirm Password">
        </div>
    </div>
</form>
<div style="margin-left: 100px;">
    <button id="Register" class="btn">Register</button>
    <button id="Cancel" class="btn">Cancel</button>
</div>


</body>
</html>