<h3><span id="headerTxt"></span></h3>
<label id="chapterTxt">Human anatomy ? scientific study of the morphology of the adult human. It is subdivided into gross anatomy and microscopic anatomy. Gross anatomy (also called topographical anatomy, regional anatomy, or anthropotomy) is the study of anatomical structures that can be seen by unaided vision. Microscopic anatomy is the study of minute anatomical structures assisted with microscopes, and includes histology (the study of the organization of tissues), and cytology (the study of cells).</label>
<br>
<img src="../images/humanorgans.jpg" alt="Human Anatomy" style="width:128px;height:128px;">
<br>
<div style="margin-top: 50px;">
    <button id="Questions">Start with Questions</button>
</div>