<div class="container" style="border: 1px solid #ccc; width: 100%;">
    <h3>Science -> Biology</h3>
    <label>Biology is the branch of science dealing with the study of life. It describes the characteristics, classification, and behaviors of organisms, how species come into existence, and the interactions they have with each other and with the environment. Biology has many specialized areas, covering a wide range of scales, from biochemistry to ecology.</label>
    <br>
    <p>See the list of Chapters</p>
    <table class="table table-striped" id="ChaptersResult">
        <tbody>
        <tr>
            <td>Human</td>
        </tr>
        <tr>
            <td>Human</td>
        </tr>
        </tbody>
    </table>

    </table>
</div>