<h2>View User Dashboard</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label" for="playername">Player Name</label>
        <input class="form-control" type="text" id="playername" readonly>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label" for="rating">Rating</label>-->
<!--        <input class="form-control" type="text" id="rating" readonly>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label class="control-label" for="proficiency">Proficiency</label>-->
<!--        <input class="form-control" type="text" id="proficiency" readonly>-->
<!--    </div>-->
    <div class="form-group">
        <label class="control-label" for="level">Level</label>
        <input class="form-control" type="text" id="level" readonly>
    </div>
    <div class="form-group">
        <label class="control-label" for="level">Games Played</label>
        <input class="form-control" type="text" id="gamesPlayed" readonly>
    </div>
    <div class="form-group">
        <label class="control-label" for="level">Badge</label>
        <input class="form-control" type="text" id="badge" readonly>
    </div>
    <div id="piechart"></div>
<!--    <div class="form-group">-->
<!--        <label class="control-label" for="numbadgesearned">Badges Earned</label>-->
<!--        <input class="form-control" type="text" id="numbadgesearned" readonly>-->
<!--    </div>-->
</form>