<h2>View User Dashboard</h2>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="playername">Player Name</label>
        <div class="controls">
            <input type="text" id="playername" readonly>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="rating">Rating</label>
        <div class="controls">
            <input type="text" id="rating" readonly>
        </div>
    </div>
    <div id="piechart"></div>
    <div class="control-group">
        <label class="control-label" for="proficiency">Proficiency</label>
        <div class="controls">
            <input type="text" id="proficiency" readonly>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="level">Level</label>
        <div class="controls">
            <input type="text" id="level" readonly>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="numbadgesearned">Badges Earned</label>
        <div class="controls">
            <input type="text" id="numbadgesearned" readonly>
        </div>
    </div>
</form>