<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/FontAwesome.css">
    <link rel="stylesheet" href="../css/css-stars.css">
    <link rel="stylesheet" href="../css/game.css">
    <link rel="stylesheet" href="../css/toastr.min.css">
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/toastr.min.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/home.js"></script>
    <script src ="../js/userprofile.js"></script>
    <script src ="../js/leaderboard.js"></script>
    <script src ="../js/dashboard.js"></script>
    <script src ="../js/questions.js"></script>
    <script src ="../js/chapter.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../js/loader.js"></script>

</head>

<body>

<header>
    <h3><span id="displayH2"></span></h3>

    <!--***************** This div displays username on the header on every page. *****************-->
    <div class="userdetailslabel">
        <span id="displayUserlabel" style="color: #a9f908"></span> <span class="userdetails"
                                                                         id="displayUser"></span>
        <label id="logout" style="color: #a9f908">(Logout)</label>
        <!-- <button id="logout" class="btn">Logout</button> -->
    </div>
</header>

<div class="tabbable row">
    <div class="col-md-2">
    <ul id="nav-tabs-wrapper" class="nav nav-pills nav-stacked">
        <li class="active"><a href="#HomeContent" id="Home" data-toggle="tab" >Home</a></li>
        <li><a href="#UserProfileContent" id="UserProfile" data-toggle="tab">User Profile</a></li>
        <li><a href="#UserDashboardContent" id="UserDashboard" data-toggle="tab">Dashboard</a></li>
        <li><a href="#UserLeaderboardContent" id="UserLeaderboard" data-toggle="tab">Leaderboard</a></li>
    </ul>
    </div>

    <div class="col-md-10 tab-content" align="center">
        <div class="game-tab-content">
        </div>
    </div>
    <div id="alertModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Alert</h4>
                </div>

                <div id="alertModalContent" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                </div>

                <div id="confirmModalContent" class="modal-body">
                    Do you want to delete the item rating?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="doDelete">Yes</button>
                    <button type="button" class="btn btn-default" id="doNotDelete">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>



