<form class="form-horizontal" style="width:50%">
    <h1>Science Based Gamified E-Learning Application</h1>
    <h2>Learn how to play with Science!!! </h2>
    <div>
        <label >Gamification science refers to the development of theories of gamification design and their empirical evaluation within a post-positivist epistemology. The goal of gamification scientist-practitioners should be to understand how to best meet organizational goals through the design of gamification interventions, drawing upon insights derived from both gamification science and games research more broadly.</label>
    </div>
    <br>
    <br>
    <label>Check out the Biology Course</label>
</form>
<div class="control-group">
    <button id="BiologyCourse" class="btn">Biology Course</button>
</div>