<h2>View User Leaderboard</h2>
<table class="table table-striped" id="UserLeaderboardResult">
    <thead>
    <tr>
        <th>Player ID</th>
        <th>Player Name</th>
        <th>Proficiency</th>
        <th>Rating</th>
        <th>Level</th>
        <th>Badges</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1001</td>
        <td>Shreya Karnawat</td>
        <td>BEGINNER</td>
        <td>5 Star</td>
        <td>6th Level</td>

    </tr>
    <tr>
        <td>1012</td>
        <td>Garmin nuvi 200</td>
        <td>ADVANCED</td>
        <td>1 Star</td>
        <td>2nd Level</td>

    </tr>
    </tbody>
</table>