<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/util.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
   </head>
<body id="texttodisplay">

<form class="form-horizontal">
    <legend style="margin-left: 150px;">Gamified E-Learning App Login</legend>
    <div class="control-group">
        <label class="control-label" for="player_id">Player ID</label>
        <div class="controls">
            <input type="text" id="player_id" placeholder="Player ID">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" id="password" placeholder="Password">
        </div>
    </div>

</form>
<div style="margin-left: 100px;">
    <button id="Register" class="btn">Register</button>
    <button id="SignIn" class="btn">Login</button>
</div>

</body>
</html>