<form class="form-horizontal">
    <h2>User Profile</h2>
    <div class="control-group">
        <label class="control-label" for="playername">Player Name</label>
        <div class="controls">
            <input type="text" id="playernametxt" readonly>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="proficiency">Proficiency Level</label>
        <div class="dropdown">
            <select id="proficiencyDropDown">
                <option><a href="#">BEGINNER</a></option>
                <option><a href="#">INTERMEDIATE</a></option>
                <option><a href="#">EXPERT</a></option>
            </select>
        </div>
    </div>

    <div style="margin-left: 100px;">
        <button id="UpdateProfile" class="btn">Update Profile</button>
    </div>


</form>