<h3><span id="questionsHeaderTxt"></span></h3>
<label id="QuestionNumber">Question 1</label>
<br>
<label id="QuestionText"></label>
<div id="optionList">
    <!--<label id="option1"><input type="radio" name="option" value="option1">Option 1</label><br>-->
    <!--<label><input type="radio" name="option" value="option2">Option 2</label><br>-->
    <!--<label><input type="radio" name="option" value="option3">Option 3</label><br>-->
    <!--<label><input type="radio" name="option" value="option4">Option 4</label><br>-->
</div>

<div style="margin-top: 50px;">
    <button id="CheckAnswer">Check Answer</button>
    <button id="NextLevel" style="display: none;">Next Level</button>
</div>