<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>New User Registration</title>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="js/util.js"></script>
    <script src="../js/register.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="container-fluid">
        <form class="form-horizontal">
            <h2 style="margin-left: 100px;">New User
                Registration
            </h2>
            <div class="form-group">
                <label class="control-label" for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" placeholder="First Name">
            </div>
            <div class="form-group">
                <label class="control-label" for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label class="control-label" for="player_id">Player ID</label>
                <input type="text" class="form-control" id="player_id" placeholder="User Name">
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="control-label" for="confirmpassword">Confirm
                    Password</label>
                <input class="form-control" type="password" id="confirmpassword"
                       placeholder="Confirm Password">
            </div>
        </form>
        <div>
            <button id="Register" class="btn">Register</button>
            <button id="Cancel" class="btn">Cancel</button>
        </div>
    </div>
</div>


</body>
</html>